streamlit==1.36.0
pandas==2.2.2
numpy==1.24.3
scikit-learn==1.4.2
matplotlib==3.8.4
plotly==5.22.0
wordcloud==1.9.3
nltk==3.8.1
folium==0.16.0
streamlit-folium==0.20.0
geopy==2.4.1
streamlit-js-eval==0.1.7
git+https://github.com/malaysia-ai/malaya.git@1a5c7951bd6962a75b210cd1400338da673fe938#egg=malaya
